@model ECommerce.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container my-5">
    <h1 class="text-center m-4">Product Details</h1>
    <div class="p-4 shadow rounded bg-light mx-auto" style="max-width: 800px;">
        <h4 class="mb-3">Product Information</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-4">Product Name</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-4">Description</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

            <dt class="col-sm-4">Category</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Category)</dd>

            <dt class="col-sm-4">Price</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>

            <dt class="col-sm-4">Stock Quantity</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.StockQuantity)</dd>

            <dt class="col-sm-4">Image URL</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Image)</dd>
        </dl>

        <div class="text-center mt-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-lg mx-2">Edit</a>
            <a asp-action="Index" class="btn btn-secondary btn-lg mx-2">Back to List</a>
        </div>
    </div>
</div>
